mat-card {
    margin: auto;
    max-width: 900px;
  }
  mat-form-field {
    width: 100%;
  }
  #bg {
    background-image: url("../../../assets/detail-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    bottom: 0px;
    min-height: 550px;
}

mat-card {
  background-color:rgba(255,255,255, 0.7);
}

#txt {
  font-size: 110%
}

